/* changes the color of the text for all h1's using rgba */
h1 {
    color:rgba(0,0,128,0.7)
}

/* changes the color of the text for all h2's using color name */
h2{
    color:dimgray
}

/* changes the color of the text for all h3's using hexadecimal */
h3 {
    color:#024a1f
}

/* changes the color of the text for all h4's using hsl */
h4 {
    color:hsl(206, 100%, 50%)   
}

/* changes background color for the top part of the website */
#top{
    background-color:honeydew;
    
}

/* changes font size using absolute unit px and used text-align to the center */
#absoluteUnit1{
    font-size: 18px;
    text-align: center;
}

/* changes font size using absolute unit pt */
.absoluteUnit2{
    font-size: 12pt;
}

/* changes font size using absolute unit cm */
#absoluteUnit3{
    font-size: 0.5cm;
}

/* changes font size using relative unit % and utilizes max-width for the sizing*/
#relativeUnit1{
    font-size: 95%;
    max-width: 80%
}

/* changes font size using relative unit vh and utilizes min-width and max-width for the sizing */
#relativeUnit2{
    font-size: 1.75vh;
    min-width: 100px;
    max-width: 80%
}

/* changes font size using relative unit ch and utilized min-width and max-width for the sizing */
#relativeUnit3{
    font-size: 1.9ch;
    max-width: 80%
}

/*applies LONGHAND border, margin, and padding syntax */
#boxModelLong{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 500px;
    margin-left: 10px;
    border-style: double;
    border-color: red;
    border-width: 3px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 10px;
    
}

/*applies SHORTHAND border, margin, and padding syntax */
#boxModelShort{
    border: 3px solid lightblue;
    padding: 10px 10px 0px 10px;
    margin: 20px 500px 20px 10px;

}

/* applies margin:auto on the footer and utilizes width and height for the sizing*/
#marginAuto{
    width: 300px;
    height: 50px;
    margin: auto;
}

/* applies text decoration and color to important business needed to be talked about to mark it as "done" */
#textDecoration{
    text-decoration: line-through;
    color: darkorange;
}

/* applies inline to the display property */
#displayInline{
    display: inline;
    color: red;
}

/* applies block to the display property */
#displayBlock{
    display: inline-block;
    font-size: 18px;
}

/* allows to text-align the inline-block created to the center */
#justifyBlock{
    background-color: lightgoldenrodyellow;
    text-align: center;
}




